name: CodeCov

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Codecov
      run: bash <(curl -s https://codecov.io/bash)
